@import '_color';
@import '_header';
@import '_footer';

// 每部分通用的h3
.ltitle
    padding: 15px 0 10px
    @media (min-width:760px)
        padding: 30px 0 20px
    h3
        color: $blue
        font-size: 24px
        line-height: 1
        display: block
        float: left
        font-weight: normal
        padding-top: 1px
    div
        float: left
    h4
        padding-left: 4px
        color: $blue
        font-size: 14px
        line-height: 1
        font-weight: normal

// 查看更多
.read-more
    float: right
    color: $blue
    line-height: 30px

// 图片上的more图标
.stick-figure
    a
        display: block
        position: relative
    span
        @media(max-width:999px) and (min-width:760px)
            bottom: 41px
        content: ""
        position: absolute
        bottom: 0
        right: 0
        font-size: 12px
        color: #fff
        width: 0
        height: 0
        border-bottom: 41px solid $blue
        border-left: 41px solid transparent
        &::after
            display: block
            content: "More"
            position: relative
            right: 32px
            top: 27px

//banner部分

.banner-index
    img
        margin: 0 auto
        @media(max-width:759px)
            width: 100%