@import 'color';

footer
    padding-bottom: 30px
    background-color: $grey
    .foot-list
        h3
            font-weight: normal
            font-size: 16px
            padding:  20px 0 10px
            margin: 0 0 10px
            border-bottom: 1px solid darken($grey,10%)
            @media (min-width:240px)
                padding:  27px 0 24px
        a
            transition: all .2s
            line-height: 28px
        @media (min-width:240px)
            float: left
            width: 50%          
        @media (min-width:320px)
            width: 33%
        @media (min-width:600px)
            width: 20%
        @media (min-width:760px) and (max-width:1000px)
            width: auto
            padding: 0 10px
        @media (min-width:1000px)
            width: 14%
    .foot-line
        @media (min-width:760px) and (max-width:1000px)
            margin: 0 -10px

    .share
        h3
            padding:  20px 0 10px
            margin: 0 0 10px
            border-bottom: 1px solid $blue
            @media (min-width:760px)
                padding:  18px 0 8px
        img,.share-i
            float: left
        .share-i
            padding-left: 14px
        .jiathis
            padding-top: 10px
            .icon
                font-size: 24px
                color: #fff
                line-height: 45px
            a
                display: block
                width: 45px
                height: 45px
                border-radius: 50%
                background-color: darken($grey,20%)
                cursor: pointer
                margin-right: 9px
                float: left
                text-align: center
                transition: all .2s
                &:hover
                    background-color: #fff
                    .icon
                        color: $blue
        @media (min-width:760px)
            float: right
            width: 266px

.copyright
    background-color: $black
    padding: 20px 0
    a,p
        color: #fff
        text-align: center
        font-size: 14px

.foot-l
    position: fixed!important
    bottom: 0
    width: 98%
    left: 1%
    text-align: center
    height: 40px
    line-height: 40px
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    -khtml-user-select: none
    user-select: none
    border: 1px solid darken($blue,20%)
    border-radius: .5em
    background: $blue
    background: -webkit-gradient(linear,left top,left bottom,from(darken($blue,10%)),to(lighten($blue,10%)))
    background: -moz-linear-gradient(top,darken($blue,10%),lighten($blue,10%))
    box-shadow: 0 1px 2px rgba(0,0,0,.6)
    a
        color: #fff
        font-size: 18px
