@import '_color'

// 
// 首页-案例中心
.index-case
    padding-top: 10px
    padding-bottom: 8px
    a
        font-size: 14px
// 案例中心标题
.case-center
    .ltitle
        padding-top: 0   
    .case-feature
        h4
            padding-top: 0    

    h4
        font-size: 16px
        padding-left: 10px
        padding-top: 5px
.case-feature
    @media(min-width:1000px)
        padding-left: 10px
    @media(max-width:449px)
        padding-bottom: 0
    h4
        padding-top: 30px
        padding-bottom: 20px
        font-weight: normal
        font-size: 18px
        padding-left: 16px
        @media(max-width:449px)
            font-size: 14px
            padding-bottom: 10px
    .feature
        @media(max-width:759px) and (min-width:300px)
            width: 33.333333%
            float: left

    span
        font-size: 30px
        color: $blue
        float: none
        border-left: 10px solid
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        position: absolute
        left: 10px
        top: 0px
    .active
        span
            float: none
            border-top: 10px solid
            border-right: 10px solid transparent
            border-left: 10px solid transparent
            margin-top: 0
            position: absolute
            left: 0px
            top: 5px
        h4
            color: $blue
// 投资指导,图片河卵石
.guide-case
    img
        max-width: 100%
    .guide-b
        .guide-a
            padding-top: 15px
            padding-bottom: 30px
            @media(max-width:1199px) and (min-width:1000px)
                padding-top: 0
                padding-bottom: 0
                border-bottom: 1px dotted $blue
            @media(max-width:999px)
                padding-bottom: 10px
                border-bottom: 1px dotted $blue

        h3
            
            font-size: 16px
            font-weight: normal
            padding-bottom: 10px
            padding-top: 10px
        p
            font-size: 14px
            line-height: 30px
            @media(max-width:1199px) and (min-width:1000px)
                line-height: 24px
        .date
            color: $blue
        .active
            h3
                color: $blue
// 指导
.guide-article
    padding-top: 10px
    // padding-bottom: 20px
    .guide-article-a
        padding-top: 15px
        padding-bottom: 15px
        padding-left: 15px
        padding-right: 5px
        border-top: 1px solid #e5e5e5
        &:hover
            h3
                color: $blue
                transition: all .3s
            p
                color: $blue
                transition: all .3s
    @media(min-width:1000px)    
        .guide-article-a:nth-child(1),
        .guide-article-a:nth-child(2),
        .guide-article-a:nth-child(3),
        .guide-article-a:nth-child(4)
            border-top: 1px solid #fff
    @media(max-width:999px) and (min-width:450px)   
            .guide-article-a:nth-child(1),
            .guide-article-a:nth-child(2)
                border-top: 1px solid #fff
    @media(max-width:449px)
        .guide-article-a:nth-child(1)
            border-top: 1px solid #fff
        
        
    h3
        font-size: 16px
        font-weight: normal
        padding-top: 3px
        padding-bottom: 18px
        overflow: hidden 
        text-overflow: ellipsis
        white-space: nowrap
    p
        font-size: 16px
        line-height: 28px
        overflow: hidden 
        text-overflow: ellipsis
        display: -webkit-box 
        -webkit-box-orient: vertical
        -webkit-line-clamp: 3 
        
    .date-a
        color: $blue
        padding-top: 8px
        padding-bottom: 30px
        @media(max-width:449px) 
            padding-bottom: 0

//
// 查看更多
.view-more
    text-align: center  
    padding-bottom: 50px
    padding-top: 10px
    position: relative
    a
        font-size: 14px
        color: $blue
    .view-more-l
        bottom: 56px
        position: absolute
        height: 1px
        width: 76px
        background-color: $blue
        left: 489px
        @media(max-width:1199px) and (min-width:1000px)
            left: 530px
        @media(max-width:999px) and (min-width:760px)
            left: 410px
        @media(max-width:759px) and (min-width:601px)
            left: 200px
        @media(max-width:600px) and (min-width:450px)
            left: 150px
        @media(max-width:449px)
            left: 70px
        
    .view-more-r
        bottom: 56px
        position: absolute
        height: 1px
        width: 76px
        background-color: $blue
        right: 489px
        @media(max-width:1199px) and (min-width:1000px)
            right: 530px
        @media(max-width:999px) and (min-width:760px)
            right: 410px
        @media(max-width:759px) and (min-width:601px)
            right: 200px
        @media(max-width:600px) and (min-width:450px)
            right: 150px
        @media(max-width:449px)
            right: 70px



// 投资指导内页
.case-center 
    h4
    font-size: 16px
    padding-left: 10px
    padding-top: 6px



// 投资指导右侧
// 右侧
.case-center-r
    .article-content
        padding: 0 0 20px
        text-align: center
        @media(max-width:999px)
            padding-left: 10px
            padding-right: 10px
            padding-top: 10px
        
        .wenzhang
            background-color: $grey   
            padding-top: 0
            padding-bottom: 0  
            
        p
            font-size: 14px
            color: $blue
            padding-top: 5px
            padding-bottom: 5px
        h2  
            font-size: 14px
            font-weight: normal
            overflow: hidden
            height: 22px
            text-overflow: ellipsis
            padding-bottom: 50px
    // 热销设备
    .hot-sale-products
        padding-left: 0
        padding-right: 0
        
        
        @media(min-width:1000px)
            .xm12
                padding-left: 0
                padding-right: 0
        h2
            font-size: 18px
            color: $blue
            font-weight: normal
            padding-bottom: 20px
        .stick-figure
            span
                @media(max-width:999px) and (min-width:760px)
                    bottom: 0
            @media(min-width:1000px)
                padding-left: 0
                padding-right: 0
            padding-bottom: 30px
            img
                width: 100%
            a div
                padding-left: 10px
                border-bottom: 1px solid #d2d2d2
                border-left: 1px solid #d2d2d2
                border-right: 1px solid #d2d2d2    
                margin-bottom: -1px

            h3
                font-size: 16px
                padding-top: 18px
                padding-bottom: 10px
                font-weight: normal
                @media(max-width:500px) and (min-width:450px)
                    height: 60px
            p
                font-size: 14px
                padding-top: 2px
                padding-bottom: 24px


// 左侧
.guide-article-l 
    @media(min-width:1000px)   
        padding-bottom: 60px
    @media(max-width:999px)
        padding-bottom: 30px
    h2
        font-size: 18px
        font-weight: normal
    p
        font-size: 14px
        line-height: 30px
        text-indent: 2em
    .date
        color: $blue
        font-size: 14px
        padding-top: 10px
        padding-bottom: 10px
        text-indent: 0
    img
        margin: 0 auto
        display: block
        max-width: 100%
        padding-top: 25px
        padding-bottom: 20px
